body{
	height:	100%;
	width: 100%;
}
	#menu{
		width: 160px;
		padding: 20px 0px;
		border-bottom: 1px solid #EDEDED;
		position: absolute;
		left: 50%;
		margin-left: -450px;
	}
		#left_navigation{
			list-style-type: none;
		}
			#left_navigation li{
				
			}
				#left_navigation li a{
					text-transform:capitalize;
				}
	#container{
		padding: 20px;
		width: 660px;
		height: 100%;
		position: absolute;
		left: 50%;
		margin-left: -250px;
	}
		#container .section{
			
		}
			#container .section .section_anchor{
				
			}
			#container .section .imported{
				
			}