* {
	margin:					0;
	padding: 				0;
	vertical-align:			baseline;
	
}

body {
	font:					normal 13px Arial,Helvetica,"Liberation Sans","DejaVu Sans Condensed",sans-serif;
	background-color: 		#FFF;
}

a {
	text-decoration: 		underline;
	cursor:					pointer;
}

a:link, a:visited {
	text-decoration: 		underline;
	color:					#2B2B2B;
}

a:hover, a:active {
	text-decoration: 		underline;
	color:					#005999;
}

h1 {
	font-size:				24px;
	font-weight: 			normal;
	margin:					0 0 15px;
	padding: 				0 0 5px;
	color: 					#005999;
	border-bottom: 			1px solid #CCC;
}

h2 {
	font-size:				18px;
	font-weight: 			normal;
	margin:					0 0 5px;
	padding: 				0 0 2px;
	color: 					#005999;
	border-bottom: 			1px solid #CCC;
}

h3 {
	font-size:				15px;
	font-weight: 			normal;
	margin:					0 0 5px 0;
	color: 					#004A7F;
}

p {
	margin: 				0 0 15px 0;
}

sup {
	vertical-align: 		super;
}

.note {
	border:					1px solid #E5D8A0;
	padding:				2px 5px;
	background:				#FFF6CC;
}

p.footnote {
	border-top: 			1px solid #CCC;
	font-size: 				11px;
}

ul {
	list-style: 			disc;
}

li {
	padding-left: 			5px;
	margin-left: 			25px;
}

table {
	margin:					0 0 10px;
	border-collapse: 		collapse;
}

td, th {
	padding: 				2px 20px 2px 4px;
	border:					1px solid #CCC;
}

th {
	text-align: 			left;
	font-weight: 			bold;
}

pre.code {
	font:					12px "Consolas", monospace;
	margin:					0 0 10px;
	padding:				10px;
	background-color:		#FFF7CC;
	border:					1px solid #CCC;
}

img {
	max-width: 				100%;
	border:					1px solid #09C;
}

#header-wrapper {
	background-color: 		#333;
	border-bottom: 			5px solid #09C;
}

#header {
	margin:					0 auto;
	min-width: 				600px;
	max-width: 				1200px;
	padding: 				5px 0;
}

#header h1, #header span {
	color: 					#FFF;
	margin:					0 0 0 20px;
}

#header h1 {
	font-size: 				18px;
	font-weight: 			bold;
	padding: 				0;
	border: 				none;
}

#header span {
	font-size: 				11px;
}

#container {
	margin:					15px auto;
	min-width: 				600px;
	max-width: 				1200px;
	overflow: 				hidden;	
	line-height: 			160%;
	color:					#2B2B2B;
}

#menu-wrapper {
	float:					left;
	width: 					220px;
	border-right: 			1px solid #CCC;
}

#menu {
	margin: 				5px 20px;
}


#menu ul {
	list-style: 			none;
	margin: 				0;
}

#menu li {
	margin: 				0;
	padding: 				0;
	border-top: 			1px solid #CCC;
	font-weight: 			bold;
}

#menu li li {
	margin: 				0;
	padding: 				0 0 0 15px;
	border-top: 			1px solid #CCC;
	font-weight: 			normal;
}

#menu > ul > li:first-child {
	border-top: 			none;
}

#menu h1 {
	font-size: 				20px;
	margin: 				0 0 10px 0;
}

#menu a {
	display: 				block;
	height: 				30px;
	line-height: 			30px;
	text-decoration: 		none;
	text-align: 			left;
	padding: 				0 0 0 5px;
}

#content-wrapper {
	border-left: 			1px solid #CCC;
	margin-left: 			220px;
}

#content {
	padding: 				5px 20px;
	text-align: 			justify;
}

.list {
	margin:					0 0 15px;
}

.bold {
	font-weight: 			bold;
}

.italic {
	font-style: 			italic;
}

.small {
	font-size:				11px;
	color: 					#404040;
}

.red {
	color:					#CC0000;
}

/* Some extra highlights, that can be used outside the code blocks */
.php_variable{
	color:					#A70 !important;
}
.php_string{
	color:					blue !important;
}