* {
	margin:					0;
	padding: 				0;
}


a {
	text-decoration: 		underline;
	cursor:					pointer;
}

a:link, a:visited {
	text-decoration: 		underline;
	color:					#404040;
}

a:hover, a:active {
	text-decoration: 		underline;
	color:					#E60000;
}

h1 {
	font-size:				24px;
	font-weight: 			normal;
	margin:					20px 0 15px 0;
}

h2 {
	font-size:				18px;
	font-weight: 			normal;
	margin:					20px 0 10px 0;
}

h3 {
	font-size:				16px;
	font-weight: 			normal;
	margin:					0 0 8px 0;
}

p {
	margin: 				0 0 10px 0;
}

ul {
	list-style: 			disc;
}

li {
	padding-left: 			5px;
	margin-left: 			20px;
}

pre {
	font: 					12px "Consolas", monospace;
	margin:					0 0 10px;
	padding:				10px;
	background-color:		#FFF7CC;
	border:					1px solid #CCC;
}

table {
	margin:					0 0 10px;
	border-collapse: 		collapse;
}

td, th {
	padding: 				2px 10px 2px 4px;
	border:					1px solid #CCC;
}

th {
	text-align: 			left;
}


#container {
	margin:					20px auto;
	width: 					960px;
	overflow: 				hidden;	
	font:					normal 13px Arial,Helvetica,"Liberation Sans","DejaVu Sans Condensed",sans-serif;
	line-height: 			150%;
}

#menu-wrapper {
	float:					left;
	width: 					220px;
}

#menu {
	margin: 				5px 10px;
}


#menu ul {
	list-style: 			none;
	margin: 				0;
}

#menu li {
	border-bottom: 			1px solid #CCC;
	margin: 				0;
	padding: 				0;
}

#menu li:last-child {
	border-bottom: 			none;
}

#menu a {
	display: 				block;
	height: 				32px;
	line-height: 			32px;
	text-decoration: 		none;
	text-align: 			left;
}

#content-wrapper {
	float: 					left;
	width: 					740px;
}

#content {
	margin: 				5px 10px;
}

.list {
	margin:					0 0 10px;
}

.bold {
	font-weight: 			bold;
}