* {
	margin:					0;
	padding: 				0;
}

a {
	text-decoration: 		underline;
	cursor:					pointer;
}

a:link, a:visited {
	text-decoration: 		underline;
	color:					#2B2B2B;
}

a:hover, a:active {
	text-decoration: 		underline;
	color:					#005999;
}

h1 {
	font-size:				24px;
	font-weight: 			normal;
	margin:					0 0 15px;
	padding: 				0 0 5px;
	color: 					#005999;
	border-bottom: 			1px solid #CCC;
}

h2 {
	font-size:				18px;
	font-weight: 			normal;
	margin:					0 0 5px;
	padding: 				0 0 2px;
	color: 					#005999;
	border-bottom: 			1px solid #CCC;
}

h3 {
	font-size:				15px;
	font-weight: 			normal;
	margin:					0 0 5px 0;
	color: 					#004A7F;
}

p {
	margin: 				0 0 15px 0;
}

p.note{
	border:					1px solid #E5D8A0;
	padding:				2px 5px;
	background:				#FFF6CC;
}

p.footnote {
	border-top: 			1px solid #CCC;
	font-size: 				11px;
}

ul {
	list-style: 			disc;
}

li {
	padding-left: 			5px;
	margin-left: 			25px;
}

table {
	margin:					0 0 10px;
	border-collapse: 		collapse;
}

td, th {
	padding: 				2px 10px 2px 4px;
	border:					1px solid #CCC;
}

th {
	text-align: 			left;
}

pre.code {
	font:					12px "Consolas", monospace;
	margin:					0 0 10px;
	padding:				10px;
	background-color:		#FFF7CC;
	border:					1px solid #CCC;
}

#container {
	margin:					20px auto;
	width: 					960px;
	overflow: 				hidden;	
	font:					normal 13px Arial,Helvetica,"Liberation Sans","DejaVu Sans Condensed",sans-serif;
	line-height: 			160%;
	color:					#2B2B2B;
}

#menu-wrapper {
	float:					left;
	width: 					200px;
}

#menu {
	margin: 				5px 20px;
}


#menu ul {
	list-style: 			none;
	margin: 				0;
}

#menu li {
	margin: 				0;
	padding: 				0;
	border-top: 			1px solid #CCC;
}

#menu li li {
	margin: 				0;
	padding: 				0 0 0 20px;
}

#menu li:first-child {
	border-top: 			none;
}

#menu h1 {
	font-size: 				20px;
	margin: 				0 0 10px 0;
}

#menu a {
	display: 				block;
	height: 				30px;
	line-height: 			30px;
	text-decoration: 		none;
	text-align: 			left;
}

#content-wrapper {
	float: 					left;
	width: 					760px;
}

#content {
	padding: 				5px 20px;
	border-left: 			1px solid #CCC;
	text-align: 			justify;
}

.list {
	margin:					0 0 15px;
}

.bold {
	font-weight: 			bold;
}
.italic {
	font-style: 			italic;
}

/* Some extra highlights, that can be used outside the code blocks */
.php_variable{
	color:					#A70 !important;
}
.php_string{
	color:					blue !important;
}